@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/autoplay';
@import 'swiper/css/pagination';
html,
body {
  font-family: 'Nunito Sans', sans-serif;
}
.sticky-nav {
  @apply fixed top-0 z-50 w-full mb-[150px];
}

.sticky-nav2 {
  @apply fixed top-14 md:mt-8 z-10;
}
